customertranscactions/src/main/app/h2__database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <spring:beans>
        <spring:bean id="datasource" name="datasource" class="org.enhydra.jdbc.standard.StandardDataSource" destroy-method="shutdown">
            <spring:property name="driverName" value="org.h2.Driver"/>
            <spring:property name="url" value="jdbc:h2:mem:fetchcustomersdemo"/>
        </spring:bean>
        <spring:bean id="dbinitialization" name="dbinit" class="DBInitialization"/>
    </spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="TestDemo" url="jdbc:h2:mem:fetchcustomersdemo" driverClassName="org.h2.Driver" doc:name="Generic Database Configuration"/> 
    <flow name="h2__databaseFlow">
        <ee:cache doc:name="Cache">
            <db:select config-ref="TestDemo" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT * FROM CustomerDetails where POSTCODE = #[message.inboundProperties.'http.uri.params'.Postcode]]]></db:parameterized-query>
            </db:select>
        </ee:cache>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="src/main/resources/" outputPattern="OutputDetails" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>

